@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Space+Mono:wght@400;700&display=swap");
.user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.user-info-name {
  margin: 0;
}
.user-info .account-controls {
  display: flex;
}

#user-listing-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.user-listing {
  position: relative;
  margin-bottom: 5rem;
}
.user-listing .listing {
  margin-bottom: 0;
}

.underline {
  border-bottom: 3px solid;
}

.listing-tag, button {
  background-color: black;
  color: white;
  transition: 100ms ease-in-out;
}
.listing-tag:hover, button:hover {
  background-color: #f05340;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  width: 100px;
  font-family: "Space Mono";
}

button {
  padding: 1rem;
  width: fit-content;
}
button a {
  color: #fff !important;
}

input {
  outline: none !important;
  border: none;
  padding: 1rem 15px;
  font-family: "Space Mono";
}
input::placeholder {
  font-family: "Space Mono";
  padding: 10px;
}

textarea {
  border: none;
  outline: none;
  max-width: 100%;
  min-width: 100%;
}

.button-fullwidth {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

html {
  font-family: "Nunito", sans-serif;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  padding: 0 20px;
}

a {
  color: black;
  text-decoration: none;
}

.logo-container {
  flex-grow: 1;
}
.logo-container a {
  width: fit-content;
  display: flex;
  align-items: center;
}
.logo-container-logo {
  max-width: 50px;
  margin-right: 20px;
}
.logo-container-name {
  font-size: 24px;
  font-weight: bold;
}

.form-error {
  color: #f05340;
  border-top: 1px solid #f05340;
  padding: 10px;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  padding: 30px 0;
  border-bottom: 1px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
#navbar .navbar-container {
  display: flex;
  justify-content: space-between;
}
#navbar ul {
  list-style: none;
  display: flex;
}
#navbar ul li {
  margin-left: 20px;
}

#footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid;
}
#footer .footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#footer .footer-content button {
  padding: 1rem;
  width: fit-content;
  font-weight: bold;
}

#site-content {
  padding: 5rem 0;
}

.searchbar-container {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

#searchbar {
  width: 100%;
}
#searchbar button {
  padding: 1rem !important;
}

#searchbar form {
  display: flex;
}
#searchbar form input {
  width: 40%;
  padding: 1rem 15px;
}

.listing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  background-color: white;
  padding: 2rem 2rem;
}
@media (max-width: 680px) {
  .listing {
    flex-direction: column;
    padding: 5rem 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .listing .listing-location-container {
    justify-content: center;
  }
}
.listing h3 {
  margin: 0;
}
.listing-title {
  font-size: 24px;
}
.listing-tags {
  margin: 1rem 0;
}
.listing-tag {
  width: fit-content;
  padding: 8px;
  display: inline-block;
}
.listing-company-container span {
  font-weight: bold;
}
.listing-company-container .listing-company {
  font-family: "Nunito";
  font-weight: 100;
  display: inline-block;
}
.listing .company-logo {
  max-width: 300px;
}

.listing-full {
  display: flex;
  flex-direction: column;
}
.listing-full h3 {
  margin: 0;
}
.listing-full .company-logo {
  max-width: 300px;
}
.listing-full .top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.listing-full .top-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.listing-full .listing-desc {
  font-family: "Nunito";
  margin: 5rem 0;
}
.listing-full .listing-actions {
  display: flex;
}
.listing-full .listing-actions button {
  flex-grow: 1;
  margin-right: 5px;
}

.listing-location-container {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.listing-location-container img {
  margin-right: 10px;
  max-width: 30px;
}

.go-back {
  opacity: 0.8;
  width: fit-content;
}

.form-block {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  .form-block {
    max-width: 100%;
  }
}
.form-block label {
  margin-bottom: 0.4rem;
}

.flashMsg {
  background-color: #f05340;
  color: white;
  position: fixed;
  top: 0;
  left: 50%;
  padding: 1rem;
  z-index: 1000;
  transform: translateX(-50%);
}

svg {
  display: none;
}

.pagination {
  margin: 1rem 0;
}

#listingCreationForm label {
  font-weight: bold;
}

.filter-msg {
  margin-bottom: 5rem;
}

/*# sourceMappingURL=app.css.map */
